---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GithubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../components/icons/Briefcase.astro";
---

<Layout
  title="Ruben Diaz Fraga's Portfolio - Web Developer and Graphic Designer with +5 years of experience"
  description="I am Ruben Diaz Fraga, a Web Developer and Graphic Designer from Lugo, Galicia, Spain. I am specialized in creating unique and beautiful things."
>
  <main>
    <SectionContainer class="py-44 pb-24">
      <img
        class="rounded-full size-12 mb-4"
        src="https://media.licdn.com/dms/image/D4D03AQE-y1TZwLE4TQ/profile-displayphoto-shrink_400_400/0/1699719026785?e=2147483647&v=beta&t=mBK7Yi1sVNKxmtasBOStHFOKsLu51w5gWEFakXRKz-I"
        alt="Ruben Diaz Photo"
      />
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Hey, I am Ruben! <a
          href="https://www.linkedin.com/in/ruubendiazz"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Available for hire</Badge>
        </a>
      </h1>
      <h2 class="text-2xl text-wrap">
        <span class="">+5 years of experience.</span>
        <span class="text-yellow-200/90"
          >Web Developer and Graphic Designer.</span
        >
        <span class="text-red-200/90">From Lugo, Galicia, Spain 🇪🇸.</span>
        <span class="opacity-70"
          >I am specialized in creating unique and beautiful things.</span
        >
      </h2>

      <nav class="flex gap-x-4 mt-8">
        <SocialPill href="https://www.linkedin.com/in/ruubendiazz">
          <LinkedInIcon class="size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://www.github.com/rubendiazzz">
          <GithubIcon class="size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:rubendfraga@gmail.com">
          <MailIcon class="size-6" />
          rubendfraga@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer>
      <h2 class="text-4xl font-semibold mb-6 flex gap-x-3 items-center">
        <Briefcase class="size-7" />
        Job Experience
      </h2>
      <Experience />
    </SectionContainer>
  </main>
</Layout>
