---
const personalImageAlt = "Ruben Diaz's personal image";
---

<article class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      My name is Ruben Diaz. I started coding 8 years ago when I was aged 11
      making simple programs and websites.<strong
        >I am currently studying at 42 Malaga Campus, rapidly getting stronger
        and better on logic and solving problems.</strong
      >.
    </p>

    <p>
      Most of the knowledge I have acquired since I started coding its been
      <strong
        >autodidact watching YouTube tutorials or doing paid and free courses
        such as in CodeCademy.com or Udemy.com.</strong
      > Since then, I have discovered that Web Development and Software Development
      are my passion. Also, I have studied the first year of Game Development Bachelor
      in the American University of Malta trying to find my thing.
    </p>

    <p>
      <strong>As an autodidact developer</strong> I have faced lots of problems like
      the <strong>lack of motivation</strong> or just trying to find my area and
      specialising. <strong
        >Now that I am in 42 Malaga I am discovering what I like the most, and
        is Web Development.</strong
      >
    </p>
  </div>

  <img
    src="/me.jpg"
    class="rounded-full size-64 order-1 md:order-2"
    alt={personalImageAlt}
  />
</article>
