<section>
  <form
    action="https://formspree.io/f/xqkregke"
    method="POST"
    class="space-y-8 max-w-screen mx-auto bg-black/40 p-8 rounded-lg sm:px-16 sm:py-12 sm:space-y-10"
  >
    <div>
      <label for="email" class="block mb-2 text-sm font-medium text-[#faa3ff]"
        >Your email</label
      >
      <input
        type="email"
        name="email"
        class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
        placeholder="name@mail.com"
        required
      />
    </div>
    <div class="sm:col-span-2">
      <label for="message" class="block mb-2 text-sm font-medium text-[#faa3ff]"
        >Your message</label
      >
      <textarea
        name="message"
        rows="6"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500"
        placeholder="Leave a comment..."></textarea>
    </div>
    <button
      type="submit"
      class="py-3 px-5 text-sm font-medium text-center text-white dark:text-[#FFFFFF] rounded-lg bg-primary-700 sm:w-fit hover:bg-[#ab8aab] dark:hover:bg-grey/20 focus:ring-4 focus:outline-none focus:ring-primary-300  flex bg-[#f2caf2]"
      >Send message</button
    >
  </form>
</section>
