---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    title: "42 Malaga - Student",
    date: "September 2023 - Present",
    description:
      "I'm currently working on lots of projects that will be freally important for my development as a Software Engineer here in 42 Malaga. I have all my projects being uploaded to github while I work on them.",
    link: "https://github.com/rubendiazzz/42Cursus",
  },
  {
    title: "Freelance - Software Engineer - Web Developer",
    date: "June 2023 - August 2023",
    description:
      "I worked as a freelancer for a few months. I worked on a few projects, but I can't talk about them without the permission of my clients. I learned a lot of new things and I'm very excited about the future.",
  },
  {
    title: "Student at the American University of Malta",
    date: "September 2022 - June 2023",
    description:
      "I studied the first year of Bachelor in Game Development at the American University of Malta. I learned a lot of new things and I'm very excited about the future. I had to leave the university because of my self-exigence on having a big knowledge on lots of different programming environments.",
  },
];
---

<ol class="relative border-s border-gray-100 ml-3.5">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
