---
const currentYear = new Date().getFullYear();
---

<footer
  class="rounded-lg shadow bg-[#f4c1ea] dark:bg-[#d2b4d9] text-[#07465A] backdrop-blur-lg w-full xl:w-full mx-auto flex text-center md:text-left lg:text-left justify-between"
>
  <div
    class="w-full
  	mx-auto
  	max-w-screen-xl
  	p-4
		flex
		justify-center
		items-center
		flex-col
		md:flex-row
		md:items-center
		md:justify-between
    md:flex"
  >
    <span class="text-sm sm:text-center text-[#07465A]"
      >© {currentYear}
      <a href="https://ruubendiazz.me/" class="hover:underline">ruubendiazz</a>.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium sm:mt-0">
      <li>
        <a href="#about" class="hover:underline me-4 md:me-6">About me</a>
      </li>
      <li>
        <a href="#" class="hover:underline">Contact</a>
      </li>
    </ul>
  </div>
</footer>
