---
const navItems = [
  {
    title: "Experience",
    label: "experience",
    url: "/#experience",
  },
  {
    title: "Projects",
    label: "projects",
    url: "/#projects",
  },
  {
    title: "About",
    label: "about",
    url: "/#about",
  },
  {
    title: "Contact",
    label: "contact",
    url: "/#contact",
  },
];
---

<header
  class="h-14 flex justify-center items-center mx-auto pt-2 sticky top-0 w-full z-10"
>
  <nav
    class={`
      w-full md:w-[50vw] lg:w-[40vw] xl:w-[30vw] h-full
    	rounded-full md:px-6 px-3 py-1
      flex flex-wrap flex-row items-center justify-center
      bg-neutral-200/70 dark:bg-neutral-600/70 backdrop-blur-2xl
    `}
  >
    {
      navItems.map((link) => (
        <a
          class="hover:bg-black/30 dark:hover:bg-white/60 dark:hover:text-black p-1 rounded-full px-2 sm:px-3 transition ease-in text-sm sm:text-base capitalize hover:uppercase hover:font-extrabold"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
  </nav>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const sections = document.querySelectorAll("section");
    const navItems = document.querySelectorAll("header nav a");

    const callback = (entries: any[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute("aria-label") == entry.target.id) {
              item.classList.add("link-active");
            } else {
              item.classList.remove("link-active");
            }
          });
        }
      });
    };

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.3,
    });

    sections.forEach((section) => {
      observer.observe(section);
    });

    // Cleanup function
    window.onunload = () => {
      observer.disconnect();
    };
  });
</script>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 400px;
  }
  @keyframes nav-shadown {
    to {
      @apply shadow-xl;
    }
  }
</style>
