<a
  {...Astro.props}
  class={`
		bg-[#F0544F]/5
		border border-[#F0544F]/10 rounded-full
		flex justify-center items-center gap-x-2
		py-1 px-2 md:py-2 md:px-4
		text-xs md:text-base text-[#FFFFFF]/70
		transition
		hover:scale-110 hover:bg-[#F0544F]/10
		hover:text-[#ffb4f0]
	`}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
