---
import "@fontsource-variable/onest";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative text-[#FFFFFF]">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  html {
    font-family: "Onest Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  body {
    background: rgb(7, 70, 90);
    background: radial-gradient(
      circle,
      rgba(7, 70, 90, 1) 47%,
      rgba(240, 84, 79, 1) 100%
    );
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
